<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>PlanIt</title>
</head>
<body>
<h1 style="text-align:center;">Hey there! Welcome to a Place Finder using Google's API</h1>
<form action="/results" method="POST" style="text-align:center;">
  City:<br>
  <input type="text" placeholder="Enter City" name="city" style ="height:1.2rem; width:20rem; padding:2px; margin:10px;"><br>
  Type of Food:<br>
  <input type="text" placeholder="Enter type of food" name="type" style ="height:1.2rem; width:20rem; padding:2px; margin:10px"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>